# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases #
######################
*.log
*.txt
*.dat
*.job

# Figures and plots #
#####################
*.gif
*.jpg
*.png
*.eps
*.pdf
*.root

# Particular directories #
##########################
gammajet_exodus/fe_sharks/
gammajet_exodus/obj/
gammajet_exodus/exec/
gammajet_exodus/sharkfins/
gammajet_exodus/logfiles/

