phenix.sublime*

# Build files #
###############
config.*
configure
Makefile.in
aclocal.m4
autom4te.cache/
depcomp
install-sh
ltmain.sh
missing

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases #
######################
*.log
*.txt
*.dat
*.job

# Figures and plots #
#####################
*.gif
*.jpg
*.png
*.eps
*.pdf
*.root

# Particular directories #
##########################
gammajet_exodus/fe_sharks/*
gammajet_exodus/obj/*
gammajet_exodus/exec/*
gammajet_exodus/sharkfins/*
gammajet_exodus/logfiles/*

offline/CVS/
offline/AnalysisTrain/CVS/
offline/AnalysisTrain/Correlation/CVS/
offline/analysis/CVS/
offline/AnalysisTrain/Correlation/inputs/
offline/AnalysisTrain/combinesimple/inputs/
offline/AnalysisTrain/combinesimple/hpwrk/
*.sublime-project

*.sublime-workspace

*.sublime-workspace

phenix.sublime-workspace
